<h1 class="first">Your Account</h1>
<dl class="nav3-grid">
	<dt><a href="/Your-Account?p&pageId=1">Profile</a></dt>
	<dt><a href="/Your-Account?p&pageId=2">Change Password</a></dt>
	<dt><a >Data access registration</a></dt>
	<dd><a href="/Your-Account?p&pageId=11"><?php echo MainProject; ?> database 
		<?php 
			$user = unserialize($_SESSION['loggedUser']); 
			if (((isset($user->attrs[strtolower(MainProject).'Status']) && (!empty($user->attrs[strtolower(MainProject).'Status'])) && ($user->attrs[strtolower(MainProject).'Status'][0] == 'registered'))) || in_array(strtolower(MainProject),$user->attrs['memberOf'])) 
				echo "<h4 style='color:green;'> (registered)</h4>";
			else if ($user->attrs[strtolower(MainProject).'Status'][0] == 'pending')
				echo "<h4 style='color:orange; '> (pending)</h4>";
			else if ($user->attrs[strtolower(MainProject).'Status'][0] == 'rejected')
				echo "<h4 style='color:red; '> (rejected)</h4>";
		?>
	</a></dd>
	<?php 
	$user = unserialize($_SESSION['loggedUser']);
	reset($MainProjects);
	while($project = current($MainProjects)){
		if(constant(strtolower($project).'DataPolicy') != ''){
        	echo "<dd><a href='/Your-Account?p&pageId=".(key($MainProjects)+15)."'>$project database";
			if ($user->attrs[strtolower($project).'Status'][0] == 'registered') 
				echo "<h4 style='color:green;'> (registered)</h4>";
			else if ($user->attrs[strtolower($project).'Status'][0] == 'pending')
				echo "<h4 style='color:orange; '> (pending)</h4>";
			else if ($user->attrs[strtolower($project).'Status'][0] == 'rejected')
				echo "<h4 style='color:red; '> (rejected)</h4>";
			echo "</a></dd>";
		}
    	next($MainProjects);
	}
	reset($MainProjects);
	reset($OtherProjects);
	while($project = current($OtherProjects)){
		if(constant(strtolower($project).'DataPolicy') != ''){
        	echo "<dd><a href='/Your-Account?p&pageId=".(key($OtherProjects)+count($MainProjects)+15)."'>$project database";
			if ($user->attrs[strtolower($project).'Status'][0] == 'registered') 
				echo "<h4 style='color:green;'> (registered)</h4>";
			else if ($user->attrs[strtolower($project).'Status'][0] == 'pending')
				echo "<h4 style='color:orange; '> (pending)</h4>";
			else if ($user->attrs[strtolower($project).'Status'][0] == 'rejected')
				echo "<h4 style='color:red; '> (rejected)</h4>";
			echo "</a></dd>";
		}
    	next($OtherProjects);
	}
	reset($OtherProjects);
	?>
	<dt><a href="/Your-Account?p&pageId=5&type=1">Notifications</a></dt>
	<dt><a >Download history</a></dt>
	<dd><a href="/Your-Account?p&pageId=5&type=3">Original files</a></dd>
	<dd><a href="/Your-Account?p&pageId=7">Homogenized datasets</a></dd>
	<dt><a href="/Your-Account?p&pageId=10">PI corner</a></dt>
	<dt><a href="/Your-Account?p&pageId=4">Duplicate dataset</a></dt>
</dl>
