	<h1 class="first">Admin corner</h1>
	<dl class="nav3-grid">
		<dt><a href="/Admin-Corner?adm&pageId=1" style='text-align:left;'>Registered Users</a></dt>
		<dt><a href="/Admin-Corner?adm&pageId=2" style='text-align:left;'>Registration Requests</a></dt>
		<dt><a href="/Admin-Corner?adm&pageId=3" style='text-align:left;'>Rejected Registration Requests</a></dt>
		<?php
		if((isset($MainProjects) && !empty($MainProjects)) && (count($MainProjects) >=1))
			echo "<dt><a href='/Admin-Corner?adm&pageId=16' style='text-align:left;'>Registered Users in all ".MainProject." projects</a></dt>";
		?>
		<dt><a >Journal</a></dt>
		<dd><a href="/Admin-Corner?adm&pageId=5&type=3">Download history</a></dd>
		<dd><a href="/Admin-Corner?adm&pageId=5&type=1">Email notifications</a></dd>
		<dd><a href="/Admin-Corner?adm&pageId=5&type=2">Data updates</a></dd>
		<!-- <dd><a href="/Admin-Corner?adm&pageId=5&add=1">Add a news (data update)</a></dd>
		<dd><a href="/Admin-Corner?adm&pageId=5&type=5">Changes</a></dd>
		<dd><a href="/Admin-Corner?adm&pageId=5&type=5&add=1">Add a change</a></dd>-->
		
		<dt><a href="/Admin-Corner?adm&pageId=6">URL management</a></dt>
		<dd><a href="/Admin-Corner?adm&pageId=6">Edit URL</a></dd>
		<dd><a href="/Admin-Corner?adm&pageId=6&type=2">New IPSL dataset</a></dd>
		<dd><a href="/Admin-Corner?adm&pageId=6&type=1">New Sedoo dataset</a></dd>
		<dd><a href="/Admin-Corner?adm&pageId=6&type=4">New external dataset</a></dd>
		<dd><a href="/Admin-Corner?adm&pageId=6&type=3">New map</a></dd>
		<!--<dt><a href="/Admin-Corner?adm&pageId=8">Group management</a></dt>
		<dd><a href="/Admin-Corner?adm&pageId=8&create">New group</a></dd>-->
		<dt><a href="/Admin-Corner?adm&pageId=15">Dataset overview</a></dt>
		<!--<dd><a href="/Admin-Corner?adm&pageId=15">Available data</a></dd>-->
        <dd><a href="/Admin-Corner?adm&pageId=13">Metadata quality</a></dd>
		<dd><a href="/Admin-Corner?adm&pageId=11">Roles</a></dd>
		<dt><a href="/Admin-Corner?adm&pageId=14">DOI management</a></dt>
		<dd><a href="/Admin-Corner?adm&pageId=14">DOI list</a></dd>
		<dd><a href="/Admin-Corner?adm&pageId=14&newDoi">Register new DOI</a></dd>
		<dt><a>Stats</a></dt>	
		<dd><a href="/Admin-Corner?adm&pageId=7&type=0&proj=1">Data downloads</a></dd>
		<dd><a href="/Admin-Corner?adm&pageId=7&type=1&proj=1">User registrations</a></dd>
		<!-- <dt><a>Database</a></dt>
		<dd><a href="/Admin-Corner?adm&pageId=9">Inserted datasets</a></dd>
		<dd><a href="/Admin-Corner?adm&pageId=10">Params</a></dd>
		<dd><a href="/Admin-Corner?adm&pageId=12">Requests</a></dd>
-->
	</dl>
