<!-- colonne de gauche -->
<!-- Navigation Level 3 -->
<div class="round-border-topright"></div>
<h1 class="first"><?php echo $project_name; ?></h1>
<dl class="nav3-grid">
	<?php
	if(constant(strtolower($project_name).'DataPolicy') != ''){
	echo "<dt><a href='http://".$_SERVER['HTTP_HOST']."/$project_name/Register'>Subscribe</a></dt>
		  <dt><a href='/".$project_name."/Data-Policy'>Data policy</a></dt>
		  <dl class='nav4-grid'></dl><dt>";
	}
	?>
		<h1>Data users</h1>
	</dt>
	<dl class="nav3-grid">
		<dt>
			<a href="/<?php echo $project_name; ?>/News">News</a>
		</dt>
		<dt>
			<a href="/<?php echo $project_name; ?>/Thematic-search">Search</a>
		</dt>
		<dl class="nav4-grid">
			<?php require("inc-search-menu.php");?>
			<dt>
				<a href="/<?php echo $project_name; ?>/Search-tool" style="border: 0;">Advanced search</a>
			</dt>
			<?php
				if(constant(strtolower($project_name).'_HasParameterSearch') == 'true'){
					echo "<dt><a href='/".$project_name."/Parameter-search' style='border: 0;'>By parameters</a></dt>";
				}
				if(constant(strtolower($project_name).'_HasInstrumentSearch') == 'true'){
					echo "<dt><a href='/".$project_name."/Instrument-search' style='border: 0;'>By instruments</a></dt>";
				}
				if(constant(strtolower($project_name).'_HasCountrySearch') == 'true'){
					echo "<dt><a href='/".$project_name."/Country-search' style='border: 0;'>By countries</a></dt>";
				}
				if(constant(strtolower($project_name).'_HasPlatformSearch') == 'true'){
					echo "<dt><a href='/".$project_name."/Plateform-search' style='border: 0;'>By platform types</a></dt>";
				}
				if(constant(strtolower($project_name).'_HasProjectSearch') == 'true'){
					echo "<dt><a href='/".$project_name."/Project-search' style='border: 0;'>By projects</a></dt>";
				}
				if(constant(strtolower($project_name).'_HasEventSearch') == 'true'){
					echo "<dt><a href='/".$project_name."/Events' style='border: 0;'>By events</a></dt>";
				}
				if(constant(strtolower($project_name).'_HasCampaignSearch') == 'true'){
					echo "<dt><a href='/".$project_name."/Campaign-search' style='border: 0;'>By campaigns</a></dt>";
				}
			?>
		</dl>
		<?php
		   		if(constant(strtolower($project_name).'_HasModelRequest') == 'true' || constant(strtolower($project_name).'_HasSatelliteRequest') == 'true' || constant(strtolower($project_name).'_HasInsituRequest') == 'true'){
					echo "<dt>
							<a href='/".$project_name."/Request-data'>Request more datasets</a>
						 </dt>";
				}
        ?>
		
		<dl class="nav4-grid">
			<dl class="nav5-grid">
			</dl>
		    <?php
		   		if(constant(strtolower($project_name).'_HasModelRequest') == 'true'){
					echo "<dt><a href='/".$project_name."/Model-outputs-request' style='border: 0;'>Model outputs</a></dt>";
					echo "<dl class='nav5-grid'></dl>";
				}
				
				if(constant(strtolower($project_name).'_HasSatelliteRequest') == 'true'){
					echo "<dt><a href='/".$project_name."/Satellite-products-request' style='border: 0;'>Satellite products</a></dt>";
					echo "<dl class='nav5-grid'></dl>";
				}
				if(constant(strtolower($project_name).'_HasInsituRequest') == 'true'){
					echo "<dt><a href='/".$project_name."/In-situ-data-request' style='border: 0;'>In situ data</a></dt>";
					echo "<dl class='nav5-grid'></dl>";
				}		
		    ?>
		</dl>
	</dl>
	<dt>
		<h1>Data providers</h1>
	</dt>
	<dl class="nav3-grid">
		<dt>
			<a href="/<?php echo $project_name; ?>/Provide-metadata">Provide metadata</a>
		</dt>
		<dl class="nav4-grid">
			<dl class="nav5-grid">
			</dl>
			<?php
				if(constant(strtolower($project_name).'_HasModelOutputs') == 'true'){
					echo "<dt><a href='/".$project_name."/Model-Data/?datsId=-10' style='border: 0;'>Model outputs</a></dt>";
					echo "<dl class='nav5-grid'></dl>";
				}
				if(constant(strtolower($project_name).'_HasSatelliteProducts') == 'true'){
					echo "<dt><a href='/".$project_name."/Satellite-Data/?datsId=-10' style='border: 0;'>Satellite products</a></dt>";
					echo "<dl class='nav5-grid'></dl>";
				}
				if(constant(strtolower($project_name).'_HasInsituProducts') == 'true'){
					echo "<dt><a href='/".$project_name."/In-Situ-Instrument-Registration/?datsId=-10' style='border: 0;'>Instrument</a></dt>";
					echo "<dl class='nav5-grid'></dl>";
				}
				if(constant(strtolower($project_name).'_HasMultiInsituProducts') == 'true'){
					echo "<dt><a href='/".$project_name."/In-Situ-Site-Registration/?datsId=-10' style='border: 0;'>Multi-instrumented platform</a></dt>";
					echo "<dl class='nav5-grid'></dl>";
				}
				if(constant(strtolower($project_name).'_HasValueAddedProducts') == 'true'){
					echo "<dt><a href='/".$project_name."/Value-Added-Dataset/?datsId=-10' style='border: 0;'>Value-added dataset</a></dt>";
					echo "<dl class='nav5-grid'></dl>";
				}
			?>
		</dl>
		<dt>
			<a href="/<?php echo $project_name; ?>/Provide-data">Provide data</a>
		</dt>
		<dl class="nav4-grid">
		</dl>
	</dl>
	<dt>
		<h1></h1>
	</dt>
	<dl class="nav3-grid">
		<dl class="nav4-grid">
		</dl>
		<dt>
			<a href="<?php 'http://'.$_SERVER['HTTP_HOST']?>/Database-Content?project=<?php echo $project_name; ?>"
				target=blank>Database Content</a>
		</dt>
	</dl>
</dl>
