<nav class="nav2">
	<ul>
		<?php
			if(constant(strtolower($project_name).'_DisplayOnlyProjectOnTopBar') === 'true'){
				echo "<li>
						<a href='/".$project_name."/'>".$project_name."</a>
					 </li>";
				if(isset($MainProjects) && !empty($MainProjects)){
						if(isset($MainProjects[0]) && !empty($MainProjects[0]))
		            	echo "<li>
			         		<a href='/'>Other ".MainProject." databases</a>
					 		<ul>";
					foreach($MainProjects as $proj){
						if(isset($proj) && !empty($proj)){
							if($proj != $project_name)
								echo "<li><a href='/".$proj."/'>".$proj."</a></li>";
						}
					}
			    	echo "</ul></li>";
				}
			}else{			
				echo "<li><a href='/'>".MainProject." database</a></li>";
				if(isset($OtherProjects) && !empty($OtherProjects)){
					foreach($MainProjects as $proj){
						if(isset($proj) && !empty($proj)){
							echo "<li><a href='/".$proj."/'>".$proj."</a>";
							if(constant(strtolower($proj).'SubProjects') != ''){
								echo '<ul>';
								$subProj= explode(",", constant(strtolower($proj).'SubProjects'));
								foreach($subProj as $subpro){
									if(isset($subpro) && !empty($subpro)){
										$SP = str_replace(' ','-',$subpro);
										echo "<li><a href='/".$proj."/".$SP."/'>".$subpro."</a></li>";
									}
								}
								echo '</ul></li>';
							}
						}
					}
				}
				if(isset($OtherProjects) && !empty($OtherProjects)){
					if(isset($OtherProjects[0]) && !empty($OtherProjects[0]))
						echo "<li><a href='#'>More projects</a><ul>";
					foreach($OtherProjects as $Otherproj){
						if(isset($Otherproj) && !empty($Otherproj)){
							echo "<li><a href='/".$Otherproj."/'>".$Otherproj."</a></li>";
						}
					}
					echo '</ul></li>';
				}
			}
		?>
	</ul>
	<div class="logout">
		<?php include("logout.php"); ?>
	</div>
</nav>