<!-- colonne de gauche -->
<!-- Navigation Level 3 -->
<div class="round-border-topright"></div>
<h1 class="first"><?php echo MainProject ; ?></h1>
<dl class="nav3-grid">
	<dt>
		<a href="<?php $_SERVER['HTTP_HOST'] ?>/User-Account-Creation">Subscribe</a>
	</dt>
	<dt>
		<a href="/Data-Search">Search</a>
	</dt>
	<dl class="nav4-grid">
		<?php require("inc-search-menu.php");?>
		<dt>
			<a href="/Data-Search">Advanced search</a>
		</dt>
	</dl>
	<dt>
		<a href="/Project-search">Catalogue and data access</a>
	</dt>
	<dl class="nav4-grid">
		<dt>
			<a href="/<?php echo $project_name; ?>/Search-tool"
				style="border: 0;">Advanced search</a>
		</dt>
		<?php
				if(constant(strtolower($project_name).'_HasParameterSearch') == 'true'){
					echo "<dt><a href='/portal/Parameter-search' style='border: 0;'>By parameters</a></dt>";
				}
				if(constant(strtolower($project_name).'_HasInstrumentSearch') == 'true'){
					echo "<dt><a href='/portal/Instrument-search' style='border: 0;'>By instruments</a></dt>";
				}
				if(constant(strtolower($project_name).'_HasCountrySearch') == 'true'){
					echo "<dt><a href='/portal/Country-search' style='border: 0;'>By countries</a></dt>";
				}
				if(constant(strtolower($project_name).'_HasPlatformSearch') == 'true'){
					echo "<dt><a href='/portal/Plateform-search' style='border: 0;'>By platform types</a></dt>";
				}
				if(constant(strtolower($project_name).'_HasProjectSearch') == 'true'){
					echo "<dt><a href='/portal/Project-search' style='border: 0;'>By projects</a></dt>";
				}
				if(constant(strtolower($project_name).'_HasEventSearch') == 'true'){
					echo "<dt><a href='/portal/Events' style='border: 0;'>By events</a></dt>";
				}
				if(constant(strtolower($project_name).'_HasCampaignSearch') == 'true'){
					echo "<dt><a href='/portal/Campaign-search' style='border: 0;'>By campaigns</a></dt>";
				}
			?>
	</dl>
	<?php
		   		if(constant(strtolower($project_name).'_HasModelRequest') == 'true' || constant(strtolower($project_name).'_HasSatelliteRequest') == 'true' || constant(strtolower($project_name).'_HasInsituRequest') == 'true'){
					echo "<dt>
							<a href='/portal/Request-data'>Request more datasets</a>
						 </dt>";
				}
      
   				if(constant(strtolower($project_name).'_HasRequestData') == 'true'){
					echo "<dl class='nav4-grid'>
							<dl class='nav5-grid'>
							</dl>";
		   			if(constant(strtolower($project_name).'_HasModelRequest') == 'true'){
						echo "<dt><a href='/portal/Model-outputs-request' style='border: 0;'>Model outputs</a></dt>";
						echo "<dl class='nav5-grid'></dl>";
					}
				
					if(constant(strtolower($project_name).'_HasSatelliteRequest') == 'true'){
						echo "<dt><a href='/portal/Satellite-products-request' style='border: 0;'>Satellite products</a></dt>";
						echo "<dl class='nav5-grid'></dl>";
					}
					if(constant(strtolower($project_name).'_HasInsituRequest') == 'true'){
						echo "<dt><a href='/portal/In-situ-data-request' style='border: 0;'>In situ data</a></dt>";
						echo "<dl class='nav5-grid'></dl>";
					}
		 		echo "</dl>";
		    	}
				
				if(constant(strtolower($project_name).'_HasProvideData') == 'true'){

					echo "<dt><h1>Data providers</h1></dt>";
					echo "<dl class='nav3-grid'><dt><a href='/portal/Provide-metadata'>Provide metadata</a></dt>";
					echo "<dl class='nav4-grid'><dl class='nav5-grid'></dl>";

					if(constant(strtolower($project_name).'_HasModelOutputs') == 'true'){
						echo "<dt><a href='/portal/Model-Data/?datsId=-10' style='border: 0;'>Model outputs</a></dt>";
						echo "<dl class='nav5-grid'></dl>";
					}
					if(constant(strtolower($project_name).'_HasSatelliteProducts') == 'true'){
						echo "<dt><a href='/portal/Satellite-Data/?datsId=-10' style='border: 0;'>Satellite products</a></dt>";
						echo "<dl class='nav5-grid'></dl>";
					}
					if(constant(strtolower($project_name).'_HasInsituProducts') == 'true'){
						echo "<dt><a href='/portal/In-Situ-Instrument-Registration/?datsId=-10' style='border: 0;'>Instrument</a></dt>";
						echo "<dl class='nav5-grid'></dl>";
					}
					if(constant(strtolower($project_name).'_HasMultiInsituProducts') == 'true'){
						echo "<dt><a href='/portal/In-Situ-Site-Registration/?datsId=-10' style='border: 0;'>Multi-instrumented platform</a></dt>";
						echo "<dl class='nav5-grid'></dl>";
					}
					if(constant(strtolower($project_name).'_HasValueAddedProducts') == 'true'){
						echo "<dt><a href='/portal/Value-Added-Dataset/?datsId=-10' style='border: 0;'>Value-added dataset</a></dt>";
						echo "<dl class='nav5-grid'></dl>";
					}
					echo "</dl>";
				}
				?>
		<dl class="nav4-grid">
		</dl>

	<!--<dt><a href="/Historical-dataset">Historical datasets</a></dt>-->
	
	<?php
	if(isset($MainProjects) && !empty($MainProjects)){
		if(isset($MainProjects[0]) && !empty($MainProjects[0]))
			echo "<dt><h1>".MainProject." programs</h1></dt>";
		foreach($MainProjects as $proj){
			if(isset($proj) && !empty($proj))
    			echo "<dt><a href='/".$proj."'>".$proj."</a></dt>";
		}
	}
	if(isset($OtherProjects) && !empty($OtherProjects)){
		if(isset($OtherProjects[0]) && !empty($OtherProjects[0]))
			echo "<dt><h1>More projects</h1></dt>";
		foreach($OtherProjects as $proj){
			if(isset($proj) && !empty($proj))
    			echo "<dt><a href='/".$proj."'>".$proj."</a></dt>";
		}
	}
	?>
	
</dl>



