<!-- Sitelogo and sitename -->
<a name="top"></a>
<?php
if($project_name == MainProject){
	if(PORTAL_DisplayLogoOnBanner == 'true'){
		echo "<a href='".PORTAL_WebSite."'><img width='100px' src='".PORTAL_LogoPath."' /></a>";
	}
}else{
	if(constant(strtolower($project_name).'_DisplayLogoOnBanner') == 'true'){
		echo "<a href='".constant(strtolower($project_name).'WebSite')."'><img width='100px' height='80px' style='padding-left:20px; padding-top:10px; padding-bottom:10px;' src='".constant(strtolower($project_name).'_LogoPath')."' /></a>";
	}
}

?>
<h1>
  <?php
	if ( $project_name == MainProject){
		if(PORTAL_DisplayBannerTitle == 'true')
			echo ''.MainProject.'';
	}else{
		if(constant(strtolower($project_name).'_DisplayBannerTitle') == 'true')
			echo ''.$project_name.'';
	}
  ?>
  </a>
</h1>
