<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="3600" />
  <meta name="revisit-after" content="2 days" />
  <meta name="robots" content="index,follow" />
  <meta name="distribution" content="global" />
<!--   <link rel="stylesheet" type="text/css" media="screen,projection,print" href="css/layout_main.css" />
  <link rel="stylesheet" type="text/css" media="screen,projection,print" href="css/layout_text.css" />
  <link rel="stylesheet" type="text/css" media="screen,projection,print" href="css/form.css" />
  <link rel="stylesheet" type="text/css" href="/css/aide.css"/>
  <link rel="stylesheet" type="text/css" href="/css/news.css"/>   -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/colors.css">
  <link rel="stylesheet" href="/css/icons.css">
  <link rel="stylesheet" href="/utils/jquery-ui-1.9.2/themes/base/jquery.ui.all.css">

  <link rel="icon" type="image/x-icon" href="<?php echo FavIcon; ?>" />

  <script src='/js/email.js'></script>
  <script src='/js/functions.js'></script>
  <script src="/scripts/TreeMenu.js"></script>
  <script src="/utils/jquery-ui-1.9.2/jquery-1.8.3.js"></script>
  <script src="/utils/jquery-ui-1.9.2/ui/jquery-ui.js"></script>
  <script src="/js/aide.js" type="text/javascript"></script>
  <script src="/utils/jquery-ui-1.9.2/ui/jquery.ui.dialog.js"></script>
  <script src="/js/jquery.autocomplete.min.js"></script>
  <title>#MainProject Database</title>
<?php
require("inc-ga-project.html");                              
?>
</head>
