
<h1 class="first">Admin corner</h1>
<dl class="nav3-grid">
	<dt>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; }?>/Admin-Corner?adm&pageId=1"
			style='text-align: left;'>Registered Users</a>
	</dt>
	<dt>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=2"
			style='text-align: left;'>Registration Requests</a>
	</dt>
	<dt>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=3"
			style='text-align: left;'>Rejected Registration Requests</a>
	</dt>
	<dt>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=4"
			style='text-align: left;'>Participants</a>
	</dt>
	<dt>
		<a>Journal</a>
	</dt>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=5&type=3&proj=1"
			style='text-align: left;'>Download history</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=5&type=1&proj=1"
			style='text-align: left;'>Email notifications</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=5&type=2&proj=1"
			style='text-align: left;'>Data updates</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=5&add=1"
			style='text-align: left;'>Add a news (data update)</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=5&type=5"
			style='text-align: left;'>Changes</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=5&type=5&add=1"
			style='text-align: left;'>Add a change</a>
	</dd>
	<dt>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=6"
			style='text-align: left;'>URL management</a>
	</dt>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=6"
			style='text-align: left;'>Edit URL</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=6&type=2"
			style='text-align: left;'>New IPSL dataset</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=6&type=1"
			style='text-align: left;'>New Sedoo dataset</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=6&type=4"
			style='text-align: left;'>New external dataset</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=6&type=3"
			style='text-align: left;'>New map</a>
	</dd>
	<dt>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=15"
			style='text-align: left;'>Dataset overview</a>
	</dt>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=15"
			style='text-align: left;'>Available data</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=13"
			style='text-align: left;'>Metadata quality</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=11"
			style='text-align: left;'>Roles</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=16"
			style='text-align: left;'>Archives</a>
	</dd>
	<dt>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=14"
			style='text-align: left;'>DOI management</a>
	</dt>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=14"
			style='text-align: left;'>DOI list</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=14&newDoi"
			style='text-align: left;'>Register new DOI</a>
	</dd>
	<dt>
		<a>Stats</a>
	</dt>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=7&type=0&proj=1"
			style='text-align: left;'>Data downloads</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=7&type=1&proj=1"
			style='text-align: left;'>User registrations</a>
	</dd>
	<dt>
		<a>Database</a>
	</dt>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=9"
			style='text-align: left;'>Inserted datasets</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=10"
			style='text-align: left;'>Params</a>
	</dd>
	<dd>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=12"
			style='text-align: left;'>Requests</a>
	</dd>
	<dt>
		<a
			href="/<?php if($project_name != MainProject){ echo $project_name; } ?>/Admin-Corner?adm&pageId=17"
			style='text-align: left;'>Contact users</a>
	</dt>
</dl>
