@CHARSET "UTF-8";
/*
#map_canvas{
	padding:0px;
	margin:0px;
	overflow:hidden;
}
*/
#map_cell {
/*overflow:hidden;
	padding:0px;
        margin:0px;
        overflow:hidden;
	display: block;*/
}

#map_window_info{
white-space:nowrap;

/*height:120px;

padding:0px;
margin:0px;
width:300px;
height:100px;
white-space:nowrap;
overflow:hidden;
display: block;*/
/*width:400px;
white-space:nowrap;
overflow:hidden;*/
/*background-color:blue;*/
}

